<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>IPL Score Predictor</title>
  <link rel="icon" type="image/x-icon" href="/static/Bar Chart.png">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <nav>
  <div class="nav-logo">
    <img src="{{ url_for('static', filename='Logo.png') }}" alt="Logo" class="logo">
  </div>
  <div class="nav-title">
    <h2>IPL Predictor 🏏</h2>
  </div>
</nav>

  <main>
    <h1>Predict Final Score</h1>
    <form action="/predict" method="post">
      <label for="venue">Venue:</label>
      <select name="venue" id="venue">
        {% for v in venues %}
          <option value="{{ v }}">{{ v }}</option>
        {% endfor %}
      </select>

      <label for="batting_team">Batting Team:</label>
      <select name="batting_team" id="batting_team">
        {% for team in teams %}
          <option value="{{ team }}">{{ team }}</option>
        {% endfor %}
      </select>

      <label for="bowling_team">Bowling Team:</label>
      <select name="bowling_team" id="bowling_team">
        {% for team in teams %}
          <option value="{{ team }}">{{ team }}</option>
        {% endfor %}
      </select>

      <label for="striker">Striker:</label>
      <select name="striker" id="striker">
        {% for player in players %}
          <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
      </select>

      <label for="bowler">Bowler:</label>
      <select name="bowler" id="bowler">
        {% for player in players %}
          <option value="{{ player }}">{{ player }}</option>
        {% endfor %}
      </select>

      <button type="submit">Predict</button>
    </form>
  </main>
  <script>
  const form = document.getElementById("predict-form");
  form.addEventListener("submit", function (e) {
    document.body.classList.add("fade-out");
  });
</script>

</body>
</html>
